<!DOCTYPE html>
<html>
  <head>
    <base href="<%=htmlWebpackPlugin.options.base%>" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%=htmlWebpackPlugin.options.title%></title>
    <link rel="icon" href="static/icon.png" />
    <script id="60d98bc1de53814327fb342b" src="https://dashboard.chatfuel.com/integration/fb-entry-point.js" async defer></script>
    <script
      src="https://www.google.com/recaptcha/api.js?render=explicit"
      async
      defer
    ></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
