@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

// 1. Your custom variables and variable overwrites.
$inverse-global-color-mode: none;
$global-font-family: Poppins, sans-serif;
$global-primary-background: #4983d0;
$global-secondary-background: #cc3396;
$base-heading-font-weight: 600;
$base-heading-color: #2e67b2;
$button-default-background: white;
$button-default-color: #019cf8;
$button-default-hover-color: $button-default-color;
$button-default-active-color: $button-default-color;
$navbar-nav-item-color: #2e67b2;
$navbar-nav-item-hover-color: #2e67b2;
$nav-primary-item-font-size: 20px;
$list-margin-top: 1.25rem;
$offcanvas-bar-background: white;
$offcanvas-overlay-background: rgba(#212529, 0.5);
$form-padding-horizontal: 14px;

// 2. Import default variables and available mixins.
@import '../node_modules/uikit/src/scss/variables.scss';
@import '../node_modules/uikit/src/scss/mixins.scss';

// 3. Your custom mixin overwrites.
@mixin hook-navbar-sticky() {
  transition: ease-in-out;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  background-color: white !important;
}

@mixin hook-button() {
  transition: all ease-in-out 0.1s;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  padding: {
    top: 4px;
    bottom: 4px;
  }
}

@mixin hook-button-default() {
  border-color: white;

  &.uk-button-default-outline {
    background-color: transparent;
    color: white;
  }
}

@mixin hook-button-secondary() {
  border-color: #cc3396;

  &.uk-button-secondary-outline {
    background-color: transparent;
    color: #cc3396;
  }
}

@mixin hook-button-default-hover() {
  border-color: $button-default-hover-background;
}

@mixin hook-button-default-active() {
  border-color: $button-default-active-background;
}

@mixin hook-button-secondary-hover() {
  border-color: $button-secondary-hover-background;
}

@mixin hook-button-secondary-active() {
  border-color: $button-secondary-active-background;
}

@mixin hook-form-single-line() {
  transition: border ease-in-out 0.3s;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  padding: {
    top: 8px;
    bottom: 8px;
  }
}

@mixin hook-form-multi-line() {
  transition: border ease-in-out 0.3s;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  padding: {
    top: 8px;
    bottom: 8px;
  }
}

@mixin hook-form-focus() {
  border-color: #2e67b2;
}

// 4. Import UIkit.
@import '../node_modules/uikit/src/scss/uikit.scss';

// 5. Your custom CSS.

.gradient-bg-light {
  background: rgb(187, 226, 243);
  background: linear-gradient(
    331deg,
    rgba(187, 226, 243, 1) 0%,
    rgba(233, 246, 251, 1) 100%
  );
}

.gradient-bg-dark {
  background: #4dbdfe;
  background: linear-gradient(98.1deg, #4dbdfe -0.66%, #019cf8 100%);
}

.case-study-bg {
  background-color: red;
}

.logo {
  width: 12rem;
}

.logo-bg {
  position: absolute;
  z-index: -2;
  top: -1rem;
  left: 0rem;
}

.landing-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
  width: 55rem;
}

h5 {
  color: #394049;
  font-weight: 600;
}

.meta {
  font-weight: bold;
  color: #808a97 !important;
  letter-spacing: 0.155em;
}

.cloud-1 {
  position: absolute;
  width: 25rem;
  left: 5%;
}

.cloud-2 {
  position: absolute;
  right: 4%;
  margin-top: 6%;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.active-product {
  background-color: white;
  min-height: 70px;
  padding: 10px;
  box-shadow: 4px 4px 8px rgba(#212529, 0.1);
  border-radius: 6px;
}

.team-bg {
  position: absolute;
  z-index: -2;
  width: 40rem;
}

.testimonials-bg {
  background-color: #f1f5f9;
}

.footer-bg {
  background-color: #e9f6fb;
}

.ribbon-bg {
  background-color: white;
}

.link {
  color: #495057;
}

.link:hover {
  font-weight: bold;
  text-decoration: none;
  color: #2e67b2;
}

.gray-bg {
  background-color: #f1f5f9;
}

.rounded {
  border-radius: 5px;
}

.rounded-testimonials {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.date-overlay {
  background-color: #2e67b2;
  font-weight: 600;

  p {
    color: white !important;
  }
}

.news-tag {
  background-color: #e699cb;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
}

.offcanvas-active {
  color: #2e67b2 !important;
  font-weight: 500;
}
